llm-zoomcamp-03/homework/script/1-chatgpt-kestra-workflow.yaml
id: nyc_taxi_csv_to_bigquery
namespace: company.team

variables:
  project_id: your-gcp-project
  bucket: your-gcs-bucket
  dataset: nyc_taxi
  table: yellow_tripdata
  csv_url: https://github.com/DataTalksClub/nyc-tlc-data/releases/download/yellow/yellow_tripdata_2023-01.csv.gz

tasks:
  - id: download_csv
    type: io.kestra.plugin.core.http.Download
    uri: "{{ vars.csv_url }}"

  - id: upload_to_gcs
    type: io.kestra.plugin.gcp.gcs.Upload
    from: "{{ outputs.download_csv.uri }}"
    bucket: "{{ vars.bucket }}"
    name: "yellow_tripdata_2023_01.csv.gz"

  - id: load_to_bigquery
    type: io.kestra.plugin.gcp.bigquery.LoadFromGcs
    from:
      - "gs://{{ vars.bucket }}/yellow_tripdata_2023_01.csv.gz"

    destinationTable: "{{ vars.project_id }}.{{ vars.dataset }}.{{ vars.table }}"

    format: CSV
    compression: GZIP
    autodetect: true
    createDisposition: CREATE_IF_NEEDED
    writeDisposition: WRITE_TRUNCATE

    csvOptions:
      skipLeadingRows: 1
      allowQuotedNewLines: true